@import "compass";
@import "partials/reset";
@import "partials/head";

  
 //	Primary Styles
 // Author: guiMachiavelli
 

@include establish-baseline;


body, select, input, textarea {
	color: $text-color; 
	font-family: Monaco, Inconsolata, Courier, monospace;
}

a { 
	color: $main-color;
	text-decoration: none;

	&:hover { 
		background: white url(http://dump.guimachiavelli.com/portfolio/assets/hover.gif) repeat -100px 0;
		text-decoration: none;
	}

}

p {
	-webkit-font-smoothing: none;
}

#wrap {
	margin: 0 auto;
	width: 94%;
}

#intro {
	width: 100%;
	overflow: hidden;
	margin: rhythm(2) 0;
	position: relative;

	hgroup {
		float: left;
	}

	h1 { 
		font-family: $display-font;
		display: inline;
		@include adjust-font-size-to(30px);
		a { -webkit-font-smoothing: subpixel-antialiased; }
	
	}

	a {
		-webkit-font-smoothing: none;
	}
	
}

.menu {
	position: absolute;
	width: 315px;
	height: rhythm(2);
	right: 0;
	vertical-align: bottom;
	li {
		display: inline-block;
		margin-left: 5px;
		line-height: rhythm(2.5);
	}
	-webkit-font-smoothing: none;
}

.post {
	clear: both;
	margin-bottom: 30em;

	header { margin-bottom: 22px }

	footer {
		text-align: right;
		-webkit-font-smoothing: none;
	}

	h1, h2, .titulo { 
		@include adjust-font-size-to(36px);
		margin: rhythm(2) 0 rhythm() 0;
		a { color:#3a3333 }
	}

	figure { 
		text-align: center;
		width: 100%;
		img {
			width: 100%;
		}
	}

	blockquote {
		font-style: italic;
	}


	&.home figure {
		margin-top: -5px;
		
		&.site {
			position: relative;
			border: 3px solid #000bff;
			line-height: 0;
			@include box-sizing(border-box);

			&:before {
				content: '⊗ ⊝ ⊕';
				color: #000bff;
				font-size: 1.8em;
				text-align: left;
				padding-left: 2%;
				display: block;
				width: 98%;
				height: 25px;
				background: #fff;
				border-bottom: 3px solid #000bff;
				line-height: 1;
			}

		}
	}

	&.single {
		p {
			width: 35%;
			margin-bottom: rhythm(3);
		}
		img {
			width: 210%;
		}

		
		.site-frame {
			display: block;
			width: 210%;
			border: 3px solid #000bff;
			line-height: 0;
			@include box-sizing(border-box);

			img {
				width: 100%;
			}

			&:before {
				content: '⊗ ⊝ ⊕';
				-webkit-font-smoothing:subpixel-antialiased; 
				color: #000bff;
				font-size: 1.8em;
				text-align: left;
				padding-left: 2%;
				display: block;
				width: 98%;
				height: 25px;
				border-bottom: 3px solid #000bff;
				line-height: 1;
			}
		
		
		}

	}

}


dt {
	@include adjust-font-size-to(18px);
	margin-top: rhythm(2);
}

dd {
	width: 40%;
	margin-bottom: rhythm();
	
	&:before {
		content: '✜ ';
		color: #000bff;
		position: absolute;
		left: 1%;
	}
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */


@import "partials/mobile";

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body, select, input, textarea {background-image:none}
}



/****************************************************************

	PRINT
	The music of pandaria

****************************************************************/
@import "partials/print";
