@import "partials/head";
@import "partials/reset";
@import "partials/extras";
@import "compass/css3";
@import "susy";

 /* Primary Styles
    Author: guiMachiavelli
 */ 

html { font: $default-fsize/$baseline Monaco, Courier, monospace }

body, select, input, textarea {
	color: $text-color; 
	font-family: Monaco, Inconsolata, Courier, monospace;
	font-size: 1em;
}

a { 
	color: $main-color;
	display: inline;
	text-decoration: none;

	&:hover { 
		background: white url(../imgs/hover.gif) repeat 0 0 
	}

	&.reply { 
		color: #ccc 
	}

}

h1, h2, h3, h4, h5, h6 { font-family: $display-font }

p { font-size: 0.83333333em; line-height: $baseline }


#wrap {
	margin: 54px auto;
	width: 430px;
}

#intro {
	
	h1 { 
		font-size: 2.41666667em; 
		line-height: $baseline*2;
	}

	h2 { 
		font-family: Monaco, Inconsolata, Courier, monospace;

		a {
			font-family: $display-font; 
			font-size: 1.25em; 
			line-height: $baseline;
		}
	}

	aside { 
		display: inline;

		* { display: inline }
	}
	
	li a { border: 1px solid #827B7B; padding: 2px 5px; vertical-align: 5px}
}

dt { 
	font-family: $display-font; 
	font-size: 1.25em; 
	line-height: $baseline 	
}

.menu {
	position: absolute;
	width: 430px;
	top: 0;

	li {
		float: left;
		margin-right: 42px;
		background: $main-color;
		padding: 10px;

		a { color: #fff }
		a:hover { color: $main-color }

		&:last-child { margin: 0; }
	}
}


#main { width: 493px; margin-top: 42px; position: relative }

.post {
	clear: both;
	margin-bottom: 68px;

	header { margin-bottom: 22px }

	h1, h2, .titulo { 
		font-size: 128px; 
		line-height: 126px;
		a { color:#3a3333 }
	}

	figure { text-align: center }

	&:first-child { margin-top: -2px }
	&.archive {	margin-bottom: 0 !important	}
	&.home figure {
		width: 493px;
		margin-top: -5px;
	}


	/* single project page */

	&.single header { margin: 10px 0 -7px 0 }
	&.single h1 { font-size: 47px; line-height: 54px }
	&.single p { margin-bottom: 18px }

	&.single footer { margin-bottom: 13px }

	&.single section, &.single footer, figcaption {
		width: 493px;
		text-align: left;
		margin-left: 0;
	}

	&.single section { margin: 6px 0 12px 0 }

	

	.single figure img {
		display: inline;
		line-height: 18px;
		margin: 0 0 14px 0
	}

	.single figure>* {
		line-height: 18px;
		margin: 0 0 14px 0 
	}


}

footer { text-align: right }




/* post tags */

.post footer li {
	display: inline;
	border-left: 1px solid #827B7B;
	padding-left: 7px;
	font-size: 10px
}

.post footer li:first-child { border:0; padding: 0 }




.pagination li {float: left; margin-left: 1em }
.pagination li .active a {color: #ccc }
.pagination li:first-child {margin:0}

#tag-title { font-size: 36px; text-transform: capitalize; margin-bottom: 18px }


/* CV Page */
dt, dd { padding: 0 2.5% }

dt {
	margin-top: $baseline;
	color: #000bff;
	border-top: 1px solid #eee;
	padding-top: 17px
}

.cv dd {
	margin-bottom: 18px
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
	.post.texts, .post.drawings, .post.projects {
		width: 100%;
		margin-left: 0;
	}
  
  body, select, input, textarea {background-image:none}
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media only screen and (max-device-width: 768px) {

	.post {
		padding: 0 2.5% 6px 2.5%;
	}
	
	.post.texts, .post.drawings, .post.projects {
		width: 100%;
		margin-left: 0;
	}
	
	
	.post.first {
		margin-left: 0;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body, select, input, textarea {background-image:none}
}



/****************************************************************

	PRINT
	The music of pandaria

****************************************************************/
@import "partials/print";