@charset "UTF-8";
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #00e;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 0;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dd {
  margin: 0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

iframe {
  border: 0;
}

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  font-weight: 400;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

button, input, select, textarea {
  margin: 0;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* tables still need cellspacing="0" in the markup */
input, select {
  vertical-align: middle;
}

/* END RESET CSS */
/* Primary Styles
   Author: guiMachiavelli
*/
html {
  font: 12px Monaco, Courier, monospace;
  line-height: 18px;
}

body, select, input, textarea {
  color: #3a3333;
  font-family: Monaco, Inconsolata, Courier, monospace;
  font-size: 1em;
}

a {
  color: #000bff;
  text-decoration: none;
}
a:hover {
  background: white url(https://dl.dropboxusercontent.com/u/5229171/portfolio/assets/hover.gif) repeat -100px 0;
  text-decoration: none;
}
a.reply {
  color: #cccccc;
}

#wrap {
  margin: 0 auto;
  width: 94%;
  padding: 2%;
}

#intro {
  width: 94%;
  padding: 0 2%;
  overflow: hidden;
}
#intro h1 {
  font-family: "IM Fell Great Primer", Georgia, serif;
  font-size: 2.41666667em;
  display: inline;
  line-height: 36px;
}
#intro h2 {
  font-family: "IM Fell Great Primer", Georgia, serif;
  font-size: 1.25em;
}

.menu {
  float: right;
}
.menu li a:hover {
  color: #000bff;
}

.post {
  clear: both;
  margin-bottom: 30em;
}
.post header {
  margin-bottom: 22px;
}
.post footer {
  width: 50%;
  margin: 0 auto;
}
.post h1, .post h2, .post .titulo {
  font-size: 3em;
  line-height: 126px;
}
.post h1 a, .post h2 a, .post .titulo a {
  color: #3a3333;
}
.post figure {
  text-align: center;
  width: 100%;
}
.post figure img {
  width: 100%;
}
.post:first-child {
  margin-top: -2px;
}
.post.home figure {
  margin-top: -5px;
}
.post.home figure.site {
  border: 3px solid #000bff;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post.home figure.site:before {
  content: '⊗ ⊝ ⊕';
  color: #000bff;
  font-size: 1.8em;
  text-align: left;
  padding-left: 2%;
  display: block;
  width: 98%;
  height: 25px;
  border-bottom: 3px solid #000bff;
  line-height: 1;
}
.post.single p {
  width: 30%;
}
.post.single img {
  width: 230%;
}

footer {
  text-align: right;
}

/* post tags */
.post footer li {
  display: inline;
  border-left: 1px solid #827B7B;
  padding-left: 7px;
  font-size: 10px;
}

.post footer li:first-child {
  border: 0;
  padding: 0;
}

#tag-title {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 18px;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  .post.texts, .post.drawings, .post.projects {
    width: 100%;
    margin-left: 0;
  }

  body, select, input, textarea {
    background-image: none;
  }

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media only screen and (max-device-width: 768px) {
  .post {
    padding: 0 2.5% 6px 2.5%;
  }

  .post.texts, .post.drawings, .post.projects {
    width: 100%;
    margin-left: 0;
  }

  .post.first {
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body, select, input, textarea {
    background-image: none;
  }
}
/****************************************************************

	PRINT
	The music of pandaria

****************************************************************/
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
