// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 5%;
$container-style: fluid;

$show-grid-backgrounds: true;

//typography vars
$default-fsize: 11px;
$baseline: 18px;

$display-font: 'IM Fell Great Primer', Georgia, serif;

//color vars
$main-color: #000bff;
$text-color: #3a3333;

