%header#intro
    %h1
        %a(href="/") guiMachiavelli

    %aside
        %a(href="mailto:heygui@boun.cr") heygui@boun.cr

    - if ! @menu_items.empty?
        - display_menu(@menu_items, :class => "menu")

