@import "compass/css3";


/*  based on HTML5 Boilerplate */

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  list-style: none;
  font-weight: 400
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
button, input, select, textarea {margin: 0}
ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; vertical-align:baseline; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; } /* tables still need cellspacing="0" in the markup */
input, select { vertical-align:middle; }

/* END RESET CSS */


/* 
 * minimal base styles 
 */


/* always force a scrollbar in non-IE 
html { overflow-y: scroll; }/*
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
pre { 
  padding: 15px;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }


/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #000bff; color:#fff; text-shadow: none; }
::selection { background:#000bff; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #000bff } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: guiMachiavelli
 */

html { font: 12px/18px Monaco, Inconsolata, Courier, monospace }

body, select, input, textarea {
	color: #3a3333; 
	font-family: Monaco, Inconsolata, Courier, monospace;
	font-size: 1em;
	text-align: left;
	background: white url(../imgs/flash.gif) repeat 0 0;
}

a { color: #000bff; text-decoration: none }

a:hover { background: white url(../imgs/hover.gif) repeat 0 0 }

a.reply { color: #ccc }

h1, h2, h3, h4, h5, h6 { font-family: 'IM Fell Great Primer', Georgia, serif; }

p { font-size: 0.83333333em; line-height: 18px }


#wrap {
	margin: 54px auto;
	width: 430px;
}

#intro h1 { font-size: 2.41666667em; line-height: 36px;}

#intro h2 { 
	font-family: Monaco, Inconsolata, Courier, monospace;
}

dt, #intro h2 a { font-family: 'IM Fell Great Primer', Georgia, serif; font-size: 1.25em; line-height: 18px }

.menu {
	position: absolute;
	width: 430px;
	top: 0
}

.menu li {
	float: left;
	margin-right: 42px;
	background: #000bff;
	padding: 10px
}

.menu li a { color: #fff }
.menu li a:hover { color: #000bff }

.menu li:last-child { margin: 0; }

#main { width: 100%; margin-top: 18px }

.post {
	padding: 0 2.5% 18px 2.5%;
	margin-bottom: 17px;
	border-bottom: 1px solid #eee;
	color: #ccc;
}


.post.process, .post.texts, .post.drawings, .post.projects {
	font-family: 'IM Fell Great Primer', Georgia, serif; 
	font-size: 18px;
	line-height: 27px;
	width: 150%;
	margin-left: -55%;
	color: #333;
	padding-top: 9px;
}


.post.first {
	font-family: 'IM Fell Great Primer', Georgia, serif; 
	font-size: 36px;
	line-height: 45px;
	width: 830px;
	margin-left: -400px;
}

.post.process a.reply, .post.texts a.reply, .post.drawings a.reply, .post.projects a.reply { color: #333 }

footer { text-align: right }



/* CV Page */
dt, dd { padding: 0 2.5% }

dt {
	margin-top: 18px;
	color: #000bff;
	border-top: 1px solid #eee;
	padding-top: 17px
}

.cv dd {
	margin-bottom: 18px
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
	.post.texts, .post.drawings, .post.projects {
		width: 100%;
		margin-left: 0;
	}
  
  body, select, input, textarea {background-image:none}
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media only screen and (max-device-width: 768px) {

	.post {
		padding: 0 2.5% 6px 2.5%;
	}
	
	.post.texts, .post.drawings, .post.projects {
		width: 100%;
		margin-left: 0;
	}
	
	
	.post.first {
		margin-left: 0;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body, select, input, textarea {background-image:none}
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}