- if @page.index_page? 
  ~ @page.to_html(self)
- else
  - unless @page.articles.empty?
    %section.articles
      = article_summaries(@page.articles)
  - else
    %article(class="post single #{@page.metadata('flags')}")
      = @page.to_html(self)

