- unless pages.empty?
  - pages.each do |page|
    - unless page.flagged_as?('other') || page.flagged_as?('draft')
      %article(class="home post")
        %figure(class="#{page.metadata('flags')}")
          - unless page.thumbnail.nil? || page.thumbnail.empty?
            %a(href="#{page.abspath}")
              %img(src="#{page.thumbnail}")
        %footer
          - unless page.categories.nil? || page.categories.empty?
            %ul
              - page.categories.each do |category|
                %li
                  %a(href="#{category.abspath}")= category.heading

